html, body, .container-fluid, .row, #map {
  height: 100%;
  width: 100%;
}

.container-fluid {
  position: absolute;
  margin: 0;
  padding: 0;
  border-width: 0px;
  border-style: none;
  z-index: 0;
}

.no-gutters {
  margin-left: 0;
  margin-right: 0;

  > .col,
  > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

.col-md-10 {
  min-height: 200px;
}

.error {
  color: #aaaaaa;
}

button.btn-block {
  background-color: white;
  color: black;
  margin: auto;
  width: 75%;
  border-width: 0px;
}

button.btn-primary {
  color: blue;
}

.col-md-2 {
  width: 90%;
  margin: auto;
  padding-top: 50px;
  text-align: center;
}

h3 {
  width: 90%;
  margin: auto;
  margin-top: 200px;
  padding: 10px;
  text-align: center;
  vertical-align: bottom;
}

button.dropdown-toggle {
  margin-top: 50px;
  padding: 6px 12px 6px 12px;
  margin-bottom: 50px;
}

/* Hamburger menu idea (& some code) from Erik Terwan
(https://codepen.io/erikterwan/pen/EVzeRP) */
.hamburger {
  display: block;
  position: absolute;
  top: 90px;
  left: 40px;
  height: 64px;
  width: 64px;
  background: white;
  border-radius: 50%;
  z-index: 2;
}

.hamburgerShadowed {
  /* h-offset v-offset blur-radius spread color */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.hamburger input {
  display: block;     /* want this input on its own line */

  /* position relative to the hamburger class (not the viewport) */
  position: absolute;

  width: 64px;
  height: 64px;
  margin: 0px;

  cursor: pointer;
  opacity: 0;         /* completely transparent checkbox */
  z-index: 4;
}

.hamburger span {
  display: block;     /* want each span on its own line */
  position: relative;
  width: 32px;
  height: 4px;
  margin-bottom: 5px;

  /* middle of the circle, minus half the width of the hamburger */
  top: 21px;
  left: 16px;

  background: black;
  border-radius: 3px;
  z-index: 3;

  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.hamburger span:first-child {
  transform-origin: 0% 0%;
}

.hamburger span:last-child {
  transform-origin: 0% 100%;
}

.hamburger input:checked ~ span {
  /* translate first, then rotate */
  transform: translate(6px, 3px) rotate(45deg);
}

.hamburger input:checked ~ span:nth-last-child(2) {
  opacity: 0;

  /* the scale() here makes it look like it's disappearing */
  transform: rotate(0deg) scale(0.2, 0.2);
}

.hamburger input:checked ~ span:last-child {
  /* translate first, then rotate */
  transform: translate(6px, 3px) rotate(-45deg);
}

.menu {
  position: absolute;
  width: 250px;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  z-index: 1;

  transform-origin: 0% 0%;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  transform: translate(-100%, 0); /* so that we start out hidden */

  /* h-offset v-offset blur-radius spread color */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menuHide {
  transform: translate(-100%, 0);
}

.menuShow {
  transform: none;
}

@media (max-width: 900px) {
  .menu {
    width: 100%;
    top: 10%;

    transform-origin: left bottom;
    transform: translate(0, 100%);

    box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.2), 6px 0 20px 0 rgba(0, 0, 0, 0.19);
  }

  .menuHide {
    transform: translate(0, 100%);
  }

  .menuShow {
    transform: none;
  }

  .hamburger {
    top: 85%;
  }

  h3 {
    margin-top: 100px;
  }

  
}
